// Import Custom Variables (Overrides Default Bootstrap Variables)
@import "variables.scss";

// Import Custom Mixins and Components
@import "_mixins.scss";
@import "_global.scss";

/*------------------------------------------------------------
layout
------------------------------------------------------------*/
body {
  min-width: 1140px;
  overflow-x: hidden;
  @include sp {
    min-width: 320px;
    width: 100%;
  }
}
