doctype html

html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content= description)
    meta(name="keywords", content= keyword)
    link(rel="shortcut icon" href="favicon.ico")
    link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.1.0/css/all.css")
    link(href='css/style.css', rel='stylesheet')
    //- link(href='xxx/xxx.css', rel='stylesheet')
    block head_end

  body(class=classBody, id=classBody)

    block content

    block body_end
    //- script(type='text/javascript', src='xxx/xxx/xxx.min.js')